---
title:
layout: "standard"
---

{% for post in paginator.posts %}
<a href="{{ post.url }}">
<span>{{ post.date | date_to_string }} &raquo;</span> {{ post.title }}
</a>
{{ post.excerpt }}
<br /><br />
<a href="{{ post.url }}">Read more  &raquo;
</a>

{% endfor %}
<br>
{% if paginator.previous_page %}
<a href="{{paginator.previous_page_path }}" rel="prev">Previous</a>
{% else %}
<span>Previous</span>
{% endif %}
<span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
<a href="{{ paginator.next_page_path }}" rel="next" >Next</a>
{% else %}
<span>Next</span>
{% endif %}
