
        <div class="rounded mt-10 pt-10">
            <figure class="avatar avatar-xl centered" data-initial="SR"><img src="{{ site.baseurl }}/assets/images/profile_photo.jpg" /> </figure>
            <h1 class="text-center">Saravanan</h1>
            <h3 class="text-center">I am a stackoverflow developer</h3>
        </div>
        <div class="divider"></div>
        <div class="col-12" >
            <header class="navbar">
                <section class="navbar-section">
                </section>
                <section class="navbar-center">
                    <!-- centered logo or brand -->
                    <a href="#" class="btn btn-link">Docs</a>
                    <a href="#" class="btn btn-link">Examples</a>
                    <a href="#" class="btn btn-link">Twitter</a>
                    <a href="#" class="btn btn-link">GitHub</a>
                </section>
                <section class="navbar-section">
                </section>
            </header>
        </div>
        <!--<div class="divider"></div>-->
