       <div class="divider"></div>
    <div class="col-12">
        <footer class="navbar">
            <section class="navbar-section"></section>
            <section class="navbar-center">
                <a href="#" class="btn btn-link">Docs</a>
                <a href="#" class="btn btn-link">Examples</a>
                <a href="#" class="btn btn-link">Twitter</a>
                <a href="#" class="btn btn-link">GitHub</a>
             </section>
            <section class="navbar-section"></section>
        </footer>
    </div>
    <div class="col-12">
        <footer class="navbar">
            <section class="navbar-section"></section>
            <section class="navbar-center">
                <a href="#" class="btn btn-link"> Copyright 2017</a>
            </section>
            <section class="navbar-section"></section>
        </footer>
    </div>
